.api-module
    
    .api-properties

        ul
            list-style: none;
        
            li
                .name

                .type

                .description
                    padding-left: 0.5em

    .api-members

        ul
            list-style: none

            li