layout: 索引
headline: Moleculer
description: Moleculer是一个基于Node.js的响应式微服务框架。
subtitle: 基于 Node.js 的响应式微服务框架
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title 快速
            p.intro-feature-desc
                | 高性能的微型服务框架。 查看 
                a(href='/docs/ferchmark.html') 基准测试！
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title 可扩展
            p.intro-feature-desc
                | 所有内置模块(caching, serializer, transporter) 都是可替换的。 创建您自己的解决方案或 
                a(href='/modules.html') 寻找其它模块。
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title 开源
            p.intro-feature-desc
                | Moleculer 100%开源免费。 所有源代码都在 GitHub 上并在 MIT 许可证下可用。
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title 容错
            p.intro-feature-desc
                | Moleculer 是一个高容错的框架。 它有内置的负载均衡器、熔断器、重试、超时和降级功能。
