table
	thead
		th Property
		th Type
		th Default
		th Description
	tbody
	each param in params
		- var tag = getTag(param, tags)
		if tag
			tr
				td.name
					code= tag.name
				if tag.type && tag.type.name
					td.type
						code= tag.type.name
				else
					td

				if tag.default
					td.default
						code= tag.default
				else
					td -

				td.description= tag.description