layout: index
headline: Moleculer
description: Moleculer egy modern mikroszolgáltatás keretrendszer Node.js alapokon.
subtitle: Modern keretrendszer mikroszolgáltatásokhoz Node.js alapokon.
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Villámgyors
            p.intro-feature-desc
                | Nagy teljesítményű mikroszolgáltatás keretrendszer. Nézd meg a
                a(href='/docs/benchmark.html') teljesítmény teszt eredményeket!
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title Bővíthető
            p.intro-feature-desc
                | Össze belső modul (gyorsítótár, serializer, transporter) cserélhető. Hozd létre a saját modulod vagy
                a(href='/modules.html') nézd meg az összes elérhető modult.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Nyílt forráskódú
            p.intro-feature-desc
                | Moleculer teljes mértékben ingyenes és nyílt forráskódú project. Teljes forráskód elérhető Github-on MIT licensz alatt.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title Hibatűrő
            p.intro-feature-desc
                | Moleculer egy hibatűrő keretrendszer. Tartalmaz beépített terheléselosztó, circuit breaker, retries, timeout and bulkhead funkciókat.
