layout: index
headline: Moleculer
description: Moleculer is a progressive microservices framework powered by Node.js.
subtitle: Progressive microservices framework for Node.js.
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Blazing fast
            p.intro-feature-desc
                | High-performance microservices framework. Check the
                a(href='/docs/benchmark.html') benchmark results!
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title Extensible
            p.intro-feature-desc
                | All built-in modules (caching, serializer, transporter) are pluggable. Create your own solutions or
                a(href='/modules.html') find all modules.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Open source
            p.intro-feature-desc
                | Moleculer is a 100% open source and free of charge project. All source code is available under the MIT License on GitHub.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title Fault tolerance
            p.intro-feature-desc
                | Moleculer is a fault tolerant framework. It has built-in load balancer, circuit breaker, retries, timeout and bulkhead features.
