layout: index
headline: Moleculer
description: Moleculer é um framework de microsserviços rápido, moderno e poderoso para Node.js.
subtitle: Framework moderno de microsserviços para Node.js.
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Extremamente rápido
            p.intro-feature-desc
                Framework de microsserviços de alto desempenho. Verifique os 
                a(href='/docs/benchmark.html') resultados benchmark!
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title Extensível
            p.intro-feature-desc
                | Todos os módulos embarcados (caching, serializer, transporter) são plugáveis. Crie suas próprias soluções ou 
                a(href='/modules.html') encontre todos os módulos.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Código aberto
            p.intro-feature-desc
                | Moleculer é um projeto 100% código aberto e gratuito. Todo o código-fonte está disponível sob a licença MIT, no GitHub.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title Tolerância a falhas
            p.intro-feature-desc
                | Moleculer é um framework tolerante a falhas. Possui de forma integrada balanceamento de carga, circuit breaker, retries, timeout, e bulkhead.
