layout: index
headline: Moleculer
description: Moleculer это быстрый, маштабируемый и мощный микросервисный фреймворк для Node.js.
subtitle: Moleculer - Современный микросервисный фреймворк на Node.js
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Молниеносный
            p.intro-feature-desc
                | Высокопроизводительный фреймворк для микросервисов. Посмотрите на
                a(href='/docs/benchmark.html') результаты тестов!
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title Гибкий
            p.intro-feature-desc
                | Встроенные подключаемые модули (кеширования, серилизации, транспорта). Создайте свой модуль или
                a(href='/modules.html') выберите из готовых.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Бесплатный
            p.intro-feature-desc
                | Moleculer является 100% открытым исходным кодом и бесплатным проектом. Весь исходный код доступен по лицензии MIT на GitHub.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title Отказоустойчивый
            p.intro-feature-desc
                | Moleculer является отказоустойчивой. Он имеет встроенный балансировщик нагрузки, автоматический выключатель, повторные попытки, функции тайм-аута и переборки.
