layout: index
headline: Moleculer
description: Moleculer - это прогрессивный микросервисный фреймворк работающий на Node.js.
subtitle: Прогрессивный фреймворк микросервисной архитектуры для Node.js.
comments: false
---
ul#intro-feature-list
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-bolt
            h3.intro-feature-title Молниеносный
            p.intro-feature-desc
                | Высокопроизводительный микросервисный фреймворк. Изучите 
                a(href='/docs/benchmark.html') результаты нагрузочного тестирования!
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-gem
            h3.intro-feature-title Гибкий
            p.intro-feature-desc
                | Все встроенные модули (кэш, сериализитор, транспорт) являются подключаемыми. Создайте свои собственные решения или 
                a(href='/modules.html') использовать готовые модули.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-code
            h3.intro-feature-title Открытый код
            p.intro-feature-desc
                | Moleculer это 100% бесплатный проект с открытым исходным кодом. Весь код доступен по лицензии MIT на GitHub.
    li.intro-feature-wrap
        .intro-feature
            .intro-feature-icon
                i.fa.fa-heartbeat
            h3.intro-feature-title Отказоустойчивость
            p.intro-feature-desc
                | Moleculer - это отказоустойчивый фреймворк. Имеется встроенный балансировщик нагрузки, защита от зацикливаний, механизмы повторных запросов, тайм-ауты и функции массовой обработки.
